<% content_for(:title, "Tags: #{@tags_names}") %>
<div class="row">
  <div class="span10 offset1">

    <header class="clearfix">
      <div class="pull-left">
        <ul class="header-tags">
          <% @tags_names.each do |tag| %>
            <li><i class="icon-tag"></i><%= tag %></li>
          <% end %>
        </ul>
      </div>
    </header>

    <% if @articles.any? %>
        <section id="articles">
          <%= render @articles %>
        </section>
        <%= will_paginate @articles %>
    <% else %>
        <div class="centralized-inputs">
          <h3>This tag contains no articles.</h3>
        </div>
    <% end %>

  </div>
</div>
