<div class="row">
  <div class="span10 offset1">
    <div class="clearfix">
      <div class="pull-left">
        <h2><i class="icon-tag"></i> <%= @tag.name %></h2>
      </div>
    </div>
    <% if @articles.any? %>
        <ul id="articles" class="unstyled">
          <%= render partial: 'articles/article_feed_item', collection: @articles %>
        </ul>
        <%= will_paginate @articles %>
    <% else %>
        <div class="centralized-inputs">
          <h3>This tag contains no articles.</h3>
        </div>
    <% end %>
  </div>
</div>
