@import "bootstrap";
@import "bootstrap-responsive";
@import "font-awesome";
@import url('http://fonts.googleapis.com/css?family=Ubuntu:400,300&subset=latin,cyrillic');

// fix for icons in drop-down
.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: none;
}


html,
body {
  height: 100%;
  background-color: rgb(247, 247, 247);
  background-image: url("fabric_plaid.png");
}

hr {
  border-color: rgb(200, 200, 200) -moz-use-text-color white;
}

.well2 {
  margin-bottom: 20px;
  padding: 19px;
  min-height: 20px;
  border: medium none;
  border-radius: 4px 4px 4px 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre, code {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.global-block {
  float: none;
  margin: 0 auto;
}

// global footer
.footer {
  position: absolute;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height:60px;
  border-top: 1px solid rgb(229, 229, 229);
  background: url("bg_tan_grid.png") repeat scroll center top transparent;
  background-color: rgb(235, 235, 235);
  box-shadow: inset 0 5px 5px -5px #000000;
  text-align: center;
  font-family: "Josefin Sans","Helvetica Neue",Helvetica,Arial,sans-serif;

  a {
    color: rgb(51, 51, 51);
  }
}

#page-wrapper {
  position: relative;
  min-height: 100%;
}

#main-container {
  padding-bottom: 100px;
}

.navbar .nav > li > a {
  padding: 10px 0px 10px 15px;
}

.centralized-inputs {
  text-align: center;
}

.page-header {
  margin: 12px 0px;
  padding-bottom: 0px;
}


/***********************************************
 * USER PROFILE
 ***********************************************/
.user-profile {
  @extend .span10;
  @extend .offset1;

  .user-profile-header {
    @extend .clearfix;

    .username {
      display: inline-block;
    }

    .name {
      display: inline-block;
      margin-left: 10px;
      color: rgb(102,102,102);
    }

    .user-stats {
      @extend .clearfix;

      margin-top: 0;
      padding-top: 7px;
      width: 105px;
      color: #676767;
      list-style: none;

      li {
        display: block;
        float: left;
        padding-left: 8px;
        width: 95px;
        height: 45px;
        border-left: 1px solid rgb(200, 200, 200);
        text-transform: uppercase;
        /*border-right: 1px solid rgb(200, 200, 200);*/

        strong {
          display: block;
          color: #434343;
          font-weight: bold;
          font-size: 1.4em;
          line-height: 1.1em;
        }
      }
    }
  }
}


/***********************************************
 * ARTICLES
 ***********************************************/

.date {
  position: relative;
  width: 70px;
  font-family: Georgia, serif;
  color: rgb(100, 100, 100);
  .day, .month, .year {
    position: absolute;
  }

  .day {
    font-size: 30px;
    top: 18px;
  }

  .month {
    top: 0;
    left: 0;
    font-size: 18px;
  }

  .year {
    top: 14px;
    right: 0;
    font-size: 20px;
    rotation: -90deg !important;
    /* ** Hacks ** */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
  }
}

.articles-list {
  margin: 5px 0px 10px 0px;
}

article.entry {
  .main-content {
    margin-bottom: 5px;
    word-wrap: break-word;
    header {
      margin: 0;
      border-bottom: none;
      position: relative;
      .date {
        top: 5px;
        left: 3px;
      }
      h2 {
        border-bottom: 1px dashed rgb(238, 238, 238);
        border-left: medium none;
        border-right: medium none;
        border-top: medium none;
        border-radius: 4px 4px 0px 0px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(0, 0, 0, 0.1);
        margin: 0px 0px 0px 70px;
        a {
          color: rgb(51, 51, 51);
        }
      }
    }

    .body {
      min-height: 40px;
      background-color: rgb(255, 255, 255);
      border-left: medium none;
      border-right: medium none;
      border-bottom: medium none;
      border-radius: 4px 0px 4px 4px;
      padding: 15px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2), -1px -1px 0px rgba(0, 0, 0, 0.1);

      .read-more {
        @extend .btn;
        @extend .btn-small;
        @extend .pull-right;
        margin-top: 5px;
      }
    }
  }

  footer {
    .footer-elements {
      @extend .breadcrumb;
      @extend .clearfix;

      border: 1px solid rgb(221, 221, 221);
      background-color: rgb(251, 251, 251);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

      &>li:not(:first-child) {
        margin-left: 8px;
      }

      .tags {
        li {
          white-space:nowrap;
        }
      }
    }
  }

  .manage-buttons {
    margin-bottom: 10px;
  }
}
