<footer class="footer">
  <div class="span10 offset1 global-block">
    <span class="pull-left">Antarcticle project<br>© 2012 <a href="http://jtalks.org">jtalks.org</a></span>
    <span class="pull-right"><i class="icon-cogs"></i> Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></span>
  </div>
</footer>

