<footer class="footer">
  <div class="common-width" style="margin: 0 auto;">
    <span class="pull-left">Antarcticle project<br>© 2012 <a href="http://jtalks.org">jtalks.org</a></span>
    <span class="pull-right">Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a></span>
  </div>
</footer>